@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");


* {
    box-sizing: border-box;
}

body {

    background-color: #FFEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: space-between; 
    font-family: "Muli", sans-serif;
    margin: 0;
    overflow-x: hidden;  

}

h1
{
    margin:10px;
    color:#ef404047

}

h2
{
    font-size: 42px;
}

.content
{
    color:#fff;
    height: 200px;
    width: 400px;
    background-color: #BEF0CB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.content:nth-of-type(even)
{
    transform: translateX(-400%);
}

.content.show
{
    transform: translateX(0);
}